<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gybStreamer_IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0F5A58E1D943C0B000C375E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F5A5A71D943C0C000C375E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F5A5B21D943C0C000C375E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
